.mobile-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1rem;
}

.mobile-card{
    border:2px solid yellow;
    border-radius:.5rem;
    padding:1rem;
}

.add-card{
    border:5px solid #ff3f34;
    border-radius:.5rem;
    padding:1rem;
    background: #eee;
}
